# API Gateway
GATEWAY_PORT=80

# Service Ports
USER_SERVICE_PORT=3001
RESTAURANT_SERVICE_PORT=3002
ORDER_SERVICE_PORT=3003
DELIVERY_SERVICE_PORT=3004

# Service Hosts (for Docker)
USER_SERVICE_HOST=user-service
RESTAURANT_SERVICE_HOST=restaurant-service
ORDER_SERVICE_HOST=order-service
DELIVERY_SERVICE_HOST=delivery-service

# Environment
NODE_ENV=development
